<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.project.seok.dao.BoardDao">

    <insert id="savePost" parameterType="BoardDto">
        insert into board(created_date,modified_date,content,writer,title) values (now(),now(),#{content},#{writer},#{title})
    </insert>

    <select id="getAllList" resultType="BoardDto">
        select * from board
    </select>

    <delete id="deletePost" parameterType="long">
        delete from board where id = #{id}
    </delete>

</mapper>