<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <!--    <link rel="stylesheet" th:href="@{/css/board.css}">-->
</head>
<body>
<!-- header 추가 -->

<div th:insert="common/header.html" id="header"></div>
<br><br>
<div id="wrap" style="margin: 35px">


    <form action="/board/search" method="GET" class="form-inline">
        <div class="search form-group" style="width: 100%;margin-bottom: 20px">
            <input style="width:93%" name="keyword" type="text" placeholder="글제목을 입력해주세요" class="form-control">
            <button style="margin-left: 1%" class="btn btn-primary">검색</button>
        </div>
    </form>


    <table class="table table-hover">
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="board : ${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>

    </table>


    <div style="float: right">
        <button class="btn btn-primary" onclick="location.href='/post'">
            글쓰기
            <!--        <a th:href="@{/post}"></a>-->
        </button>
    </div>

    <div class="row" style="justify-content: center;">
        <ul class="pagination" th:each="pageNum : ${pageList}" th:inline="text">
        <li class="page-item" th:if="${pageNum!=null}">
            <a class="page-link" th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
        </li>
        </ul>
    </div>



</div>

</body>
</html>